params {
  abricate_run_1 {
    // Built-in parameters
    args = ""
    }
}


process {
  withName: abricate_run_1 {
    container = "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
    // Resources
    
    // Error handling
    
    
    // Results
    // Custom directive
    ext.args = params.abricate_run_1.args
    
  }
}

